<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  {{> topbar}}

  <main class="mw9 center ph3 pv2 pv5-ns">
    {{#each data.entries}}
        <li>
          <div class="c-article c-card u-marginBottomLarge">

            <h2>{{ fields.title }}</h2>

          <p data-markdown>{{ fields.body }}</p>

          </div>
        </li>
      {{/each}}
    {{{ contents }}}
  </main>

  {{> footer}}

  <script src="/js/main.js"></script>

</body>
</html>
